<div class="jumbotron">
<h1>PENNE YOUR THOUGHTS!</h1>
<p>Here, you can list your delicious recipes, look at other recipies by awesome chefs like yourself. If you like a recipe, you can "like" it here as well. Happy cooking!</p>
<p><%= link_to "REGISTER", register_path, class: "btn btn-lg border-blue-join" %> </p>
</div>
