<div class="jumbotron welcome-section">
<h1>PENNE YOUR THOUGHTS!</h1>
<p>Welcome to the online kitchen. Share your recipes, browse recipes from other awesome chefs like yourself, add pictures to your delicious recipes. If you find someone's recipe interesting, don't forget to like it. Happy cooking!<br />
<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></p>
<p><%= link_to "JOIN US", register_path, class: "btn btn-lg join-us-btn" %> </p>
</div>

<!-- <div class="row panel-section">
<div class="col-md-6">
    <div class="panel panel-primary panel-guest">
      <div class="panel-heading">
        <h3 class="panel-title">Explore Recipes as a Guest User</h3>
      </div>
      <div class="panel-body">
        <h4>As a guest user you can: </h4>
        <ul>

          <li>Browse recipes posted by chefs</li>
          <li>Browse chefs</li>
          <li>Browse recipes by a chef</li>

        </ul>
        <div class="panel-btn"><%= link_to 'BROWSE RECIPES', recipes_path, class: "btn btn-success login-btn login-homepage" %></div>
      </div>
    </div>
</div> -->

<!-- <div class="col-md-6">
    <div class="panel panel-primary panel-user">
      <div class="panel-heading">
        <h3 class="panel-title">Log In To Your Account</h3>
      </div>
      <div class="panel-body">
        <h4>As a guest user you can: </h4>
        <ul>

          <li>Post fancy recipes</li>
          <li>Upload a picture of your recipe</li>
          <li>Upvote (and downvote) recipes from other chefs</li>
          <li>Edit your your profile and your recipes</li>
          <li>Set a gravatar as your profile picture</li>
        </ul>
        <div class="panel-btn"><%= link_to 'LOG IN', login_path, class: "btn btn-success login-btn login-homepage" %></div>
      </div>
    </div>
</div>

</div> -->

<footer class="footer-section">
  <hr />
  <span id="copyright">Cooked with <%= link_to "", "", class: 'glyphicon glyphicon-heart' %> in California</span><br />
</footer>
