<div class="jumbotron welcome-section">
<h1>PENNE YOUR THOUGHTS!</h1>
<p>Welcome to the online kitchen. Share your recipes, browse recipes from other awesome chefs like yourself, add pictures to your delicious recipes. If you find someone's recipe interesting, don't forget to like it. Happy cooking!<br />
<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></p>
<p><%= link_to "JOIN US", register_path, class: "btn btn-lg join-us-btn" %> </p>
</div>


<footer class="footer-section">
  <hr />
  <span id="copyright">Cooked with <%= link_to "", "", class: 'glyphicon glyphicon-heart' %> in California</span><br />
</footer>
