@import "bootstrap-sprockets";
@import "bootstrap";

html {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
  padding-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#logo {
    color: #fff;
    font-size: 48px;
    font-family: 'Ubuntu', sans-serif;
    float: left;
    padding: 25px;
    padding-left: 200px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;


}

#logo:hover {
    color: #FFF056;
}

.navbar-default {
    background-color: #9aaeb3;
    // background: rgba(53, 93, 103, 0.5);
    // opacity: 0.6;
    height: 70px;
}

.navbar-default::before {
  opacity: 0.6;
}

.registration {
    display: block;
    float: right;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}

#vertical-divider {
    margin-top: 7px;
    height: 30px;
    border-left: 1px solid #333333;
    border-right: none;
    display: block;
    float: right;

}

.recipes {
  color: #FFF056;
  margin-right: 200px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

.recipes:hover {
  color: #fff;
  text-decoration: none;
}

.login {
  color: #FFF056;
  padding-right: 0px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

.login:hover {
  color: #fff;
  text-decoration: none;
}

.welcome-section {
    background: transparent;
    text-align: center;
    width: 100%;
    // opacity: 0;
    padding-bottom: 25px;
}

.welcome-section > h1 {
    margin-top: 0px;
    padding-top: 0px;
    color: #f15623;
    font-size: 3em;
    font-family: 'Ubuntu', sans-serif;
}

.glyphicon-cutlery {
    font-size: 50px;
    color: #2E2E2E;
}

div.welcome-section p {
    margin-left: 5%;
    margin-right: 5%;
    color: #000;
    font-family: 'Raleway', sans-serif;
}

.footer-section {
    position: relative;
    bottom: 20px;
    color: #000;

    font-family: 'Ubuntu', sans-serif;
    text-align: center;

}

#copyright {
    font-size: 14px;
}


.join-us-btn {
    background-color: #6E8D94;
    border: 1px solid #6E8D94;
    color: #fff;
    border-radius: 0px;
}

ul.info-panel li {
  display: inline;
}

.panel-guest {
  border: 1px solid black;
  width: auto;
  height: auto;
}

.panel-title {
  text-align: center;
}
.panel-body {
  font-size: 16px;
}
.panel-user {
  border: 1px solid black;
  width: auto;
  height: auto;
}


.panel-guest > .panel-heading {
    color: #000;
    background-color: #FF9877;
    border-color: #FF9877;
  }

  .panel-user > .panel-heading {
      color: #000;
      background-color: #FFF056;
      border-color: #FFF056;
    }

.join-us-btn:hover {
    color: #fff;
}

.join-us-btn:focus {
  color: #fff;
  background-color: #4B747D;
  border-color: #4B747D;
}

.join-us-btn:active {
  color: #fff;
  background-color: #4B747D;
  border-color: #4B747D;
}

.chef_info {
  margin-top: 5px;
}

.gravatar {
  border-radius: 100%;
}

.recipes > h1 {
  text-align: left;
}


input, textarea {
  width: 100%;
  padding: 5px;
  margin: 0px 5px 15px 0px;
}

.share-button {
  width: 30%;
  background-color: #BB1841;
  color: #FFF056;
  font-size: 18px;
}

placeholder {
  font-style: italic;
}

.new-recipe {
  text-align: right;
}


.show-recipe {
  margin: 10px;
}

.picture-uploader {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.recipe-image {
  border-radius: 10px;
}

.registration-form {
  width: 700px;
}


.page-title > h2 {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.page-title {
  padding-top: 50px;
}

.glyphicon-heart {
  color: black;
  // text-decoration: none;
}



.glyphicon-heart:visited {
  color: #F90C2D;
  text-decoration: none;
}

.glyphicon-heart:hover {
  color: #000;
  text-decoration: none;
}

.glyphicon-heart:active {
  color: #F90C2D;
  text-decoration: none;
}

.form-input {
  padding: 15px;
  border-radius: 0px;
  margin: 0px;
  border: 0px;
  width: 350px;
}

.form-input-top {
  border-radius: 2px 2px 0px 0px;
  border: 1px solid #D5D9DD;
  font-size: 16px;
}

.form-input-middle {
  border-left: 1px solid #D5D9DD;
  border-right: 1px solid #D5D9DD;
  border-bottom: 1px solid #D5D9DD;
}

.form-input-bottom {
  border-radius: 0px 0px 2px 2px;
  border-left: 1px solid #D5D9DD;
  border-right: 1px solid #D5D9DD;
  border-bottom: 1px solid #D5D9DD;
}

.login-form {
  width: 400px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 10px 2px #888888;
}

*:focus {
  outline: none;
}

.login-btn {
  width: 350px;
  margin-top: 10px;
  border-radius: 0px;
  background-color: #6E8D94;
  border: 0px;
  height: 40px;
  font-size: 16px;
}

.login-btn:hover {
  background-color: #6E8D94;
}

.btn-success:focus {
  background-color: #4B747D;
  border-color: #4B747D;
}

.btn-success:active {
  background-color: #4B747D;
  border-color: #4B747D;
}

.btn-success:active:focus {
  background-color: #4B747D;
  border-color: #4B747D;
}

input::-webkit-input-placeholder { font-size: 16px; }
input::-moz-placeholder { font-size: 16px; }
input:-ms-input-placeholder { font-size: 16px; }
input:-moz-placeholder { font-size: 16px; }

.login-btn:focus {
  outline: none !important;
}

.login-form-container {
  margin-left: auto;
  margin-right: auto;
}

.login-homepage {
  width: 200px;
}

.panel-btn {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.panel-section {
  padding-top: 0px;
}
