<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
 <div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <%= link_to "belly bites", root_path, class: "navbar-brand", id: "logo" %>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
  <div>
  <ul>
    <li class="registration"><%= link_to "RECIPES", recipes_path, id: "recipes"  %></li>
    <li id="vertical-divider"></li>
    <li class="registration"><%= link_to "REGISTER", "", id: "signup"  %></li>
    <li id="vertical-divider"></li>
    <li class="registration"><%= link_to "LOG IN", "", id: "login"  %></li>
  </ul>

</div>
</div>
</nav>
