<%= render('layouts/header') %>
<body>
  <%= render('layouts/navigation') %>
  <div class="jumbotron">
  <h1>Welcome, fellow foodie!</h1>
  <p>Here, you can list your delicious recipes, look at other recipies by awesome chefs like yourself. If you like a recipe, you can "like" it here as well. Happy cooking!</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<%= yield %>
<div class="footer1">
<footer>
  <span id="brand">Food Food</span>
  <hr />
  <span id="copyright">&copy 2015 Food Food!</span>
</footer>
</div>
</body>
</html>
